<div class="container">
  <div class="grid grid-cols-2 my-4">
    <p class="text-[30px] font-[600] text-[#924294]">VIEW POST</p>
    <div class="flex justify-end items-center gap-x-2">
      <button type="button" class="inline-flex items-center gap-x-2 text-white bg-[#FF0040] font-[600] text-[14px] px-[25px] py-[6px] rounded-[1000px] ">
        <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.06641 0.742188C4.20312 0.441406 4.50391 0.25 4.83203 0.25H8.14062C8.46875 0.25 8.76953 0.441406 8.90625 0.742188L9.125 1.125H11.75C12.2148 1.125 12.625 1.53516 12.625 2C12.625 2.49219 12.2148 2.875 11.75 2.875H1.25C0.757812 2.875 0.375 2.49219 0.375 2C0.375 1.53516 0.757812 1.125 1.25 1.125H3.875L4.06641 0.742188ZM1.22266 3.75H11.75V12.5C11.75 13.4844 10.957 14.25 10 14.25H2.97266C2.01562 14.25 1.22266 13.4844 1.22266 12.5V3.75ZM3.41016 5.9375V12.0625C3.41016 12.3086 3.62891 12.5 3.84766 12.5C4.09375 12.5 4.28516 12.3086 4.28516 12.0625V5.9375C4.28516 5.71875 4.09375 5.5 3.84766 5.5C3.62891 5.5 3.41016 5.71875 3.41016 5.9375ZM6.03516 5.9375V12.0625C6.03516 12.3086 6.25391 12.5 6.47266 12.5C6.71875 12.5 6.9375 12.3086 6.9375 12.0625V5.9375C6.9375 5.71875 6.71875 5.5 6.47266 5.5C6.25391 5.5 6.03516 5.71875 6.03516 5.9375ZM8.6875 5.9375V12.0625C8.6875 12.3086 8.87891 12.5 9.125 12.5C9.34375 12.5 9.5625 12.3086 9.5625 12.0625V5.9375C9.5625 5.71875 9.34375 5.5 9.125 5.5C8.87891 5.5 8.6875 5.71875 8.6875 5.9375Z" fill="white"/>
        </svg>
        Delete
      </button>
      <a href="/posts/<%= @post.id %>/edit" class="inline-flex items-center gap-x-2 text-white bg-[#002431] font-[600] text-[14px] px-[25px] py-[6px] rounded-[1000px]">
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5117 6.29297L6.14062 12.6641L5.21094 11.7344L5.32031 11.625H4.0625C3.81641 11.625 3.625 11.4336 3.625 11.1875V9.92969L3.51562 10.0391C3.37891 10.1758 3.29688 10.3125 3.24219 10.5039L2.61328 12.6367L4.74609 12.0078C4.91016 11.9531 5.07422 11.8711 5.21094 11.7344L6.14062 12.6641C5.86719 12.9375 5.51172 13.1562 5.12891 13.2656L1.82031 14.2227C1.60156 14.3047 1.35547 14.25 1.19141 14.0586C1 13.8945 0.945312 13.6484 1 13.4297L1.98438 10.1211C2.09375 9.73828 2.3125 9.38281 2.58594 9.10938L8.95703 2.73828L12.5117 6.29297ZM14.4531 1.86328C15.1367 2.54688 15.1367 3.66797 14.4531 4.35156L13.1406 5.66406L9.58594 2.10938L10.8984 0.796875C11.582 0.113281 12.7031 0.113281 13.3867 0.796875L14.4531 1.86328Z" fill="white"/>
        </svg>
        Edit
      </a>
      <!-- <a href="/posts" class="text-white bg-[#924294] font-[600] text-[14px] px-[25px] py-[6px] rounded-[1000px]">Back</a> -->
      <%= link_to 'Back', request.referer || posts_path, class: 'text-white bg-[#924294] font-[600] text-[14px] px-[25px] py-[6px] rounded-[1000px]' %>
    </div>
  </div>
  <div class="grid gap-y-[25px]">
    <div class="bg-white border-[1px] border-[#D9D9D9] rounded-[10px] p-[20px]">
      <p class="text-[24px] font-[400] mb-[25px]">CONTENT</p>
      <p class="text-[14px] font-[400]"><%= @post.content %></p>
    </div>
    <div class="bg-white border-[1px] border-[#D9D9D9] rounded-[10px] p-[20px]">
      <p class="text-[24px] font-[400] mb-[25px]">SOCIAL MEDIA</p>
      <p class="text-[14px] font-[400]"><%= @post.source.titleize %></p>
    </div>
    <div class="bg-white border-[1px] border-[#D9D9D9] rounded-[10px] p-[20px]">
      <p class="text-[24px] font-[400] mb-[25px]">DATE POSTED</p>
      <p class="text-[14px] font-[400]"><%= @post.posted_at.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
</div>
