<!DOCTYPE html>
<html>
  <head>
    <title>Sprint Suite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/datepicker.min.js"></script> -->
    <script>
      tailwind.config = {
        theme: {
          fontFamily: {
            sans: [
              "Poppins, sans-serif",
            ],
          }
        }
      }
    </script>
  </head>
  <body class="bg-[#F8FAFC]">
    <main class="container mx-auto flex">
      <%= yield %>
    </main>
  </body>
</html>
